.login{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.create-account {
    color: var(--slate-400);
    margin-top: 3rem;
    text-decoration: underline;
    text-align: center;
    padding-inline: 2rem;
}
.create-account:hover {
    color: var(--slate-100);
}