.error-form {
  cursor: not-allowed;
  visibility: visible;
  
  position: fixed;
  top: 10%;
  right: 40px;

  margin-block: 1rem;
  padding: 1.4rem 2rem;

  text-align: center;
  font-size: 1.6rem;
  font-weight:500;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border-radius: .4rem;
  background-color: var(--slate-800);
  color: var(--slate-300);

  animation-duration: .5s;
  animation-iteration-count: ease-in;
  animation-name: error-moviment;
  animation-timing-function: ease;

  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;

  z-index: 30;
}
.error-form.hidden {
    visibility: hidden;
}

@keyframes error-moviment {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 460px) {
  .error-form {
    right: 5%;
  }
}